@import './Skeleton';

// https://freefrontend.com/css-background-patterns/
// Colors
$dot-color: #bfbfbf;

// Dimensions
$dot-size: 1px;
$dot-space: 11px;

body {
	background:
		linear-gradient(90deg, $background-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($background-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
}

body {
	background:
		linear-gradient(90deg, $background-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($background-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
}

a, a:visited {
	color: $primary-color;
	text-decoration: none;

	&:hover {
		color: darken($primary-color, 20%);
	}
}
