@import 'Theme';

.Footer__TagsList {
	display: flex;
	flex-flow: row wrap;

	& > li {
		list-style-type: none;
	}
}

.Footer__Legal {
	margin: { bottom: 1rem; };
	font: { size: 1rem; weight: lighter; };
	text: { align: center; };

	span {
		&:not(:first-child) {
			&::before {
				content: " - ";
			}
		}
	}
}
