@import 'Theme';
@import '~skeleton-sass-official/skeleton/themes/fresh/_grid';

.FooterAbout {
	background-color: red;
}

.FooterMain {
	@extend .container;
}

.FooterRow {
	@extend .row;
}

.FooterTags {
	@extend .columns;
	@extend .eight;
}

.FooterTagsList {
	display: flex;
	flex-flow: row wrap;
}

.FooterTagsListItem {
	list-style-type: none;
}

.FooterSocial {
	@extend .columns;
	@extend .four;
}

.FooterLegal {
	margin-bottom: 1rem;
	font-size: 1rem;
	font-weight: lighter;
	text-align: center;
}
