@import 'Theme';

.Section-Hero {
	$spacing: 2rem;
	$color: $primary-color;

	padding: { top: $spacing; bottom: $spacing; };
	margin: { top: $spacing; bottom: $spacing; };
	background: { color: $color; };
	background: { color: rgba($color, .65); };
}
