@import 'Theme';
@import '~skeleton-sass-official/skeleton/themes/fresh/_grid';

.AppHeader {
	@extend .container;
	@extend .row;
}

.AppNavigation {
	display: flex;
	flex-flow: row wrap;
}

.NavItemLink,
.NavItemLogo,
.NavItemSearch {
	@extend .columns;

	list-style-type: none;
	text-align: center;
	text-transform: uppercase;
}

.NavItemLink {
	@extend .two;
	// order: 1;
}

.NavItemLogo,
.NavItemSearch {
	@extend .four;
	// order: 0;
}
