@import 'Theme';

$height: 50px;;

.AppHeader {
	@extend .container;
	@extend .row;
}

.AppNavigation {
	display: flex;
	flex-flow: row wrap;
}

.NavItemLink,
.NavItemLogo,
.NavItemSearch {
	@extend .columns;

	height: $height;
	list-style-type: none;
	text-align: center;
	line-height: $height;

	border-top: 2px solid $tertiary-color;
	margin-top: -2px;

	&:hover, &:focus {
		border-top: 2px solid lighten($tertiary-color, 10%);
	}
}

.NavItemLink {
	@extend .two;
	@media screen and (max-width: $tablet-width - 1) {
		order: 1;
	}

	a {
		width: 100%;
		height: 100%;
		display: block;
	}
}

.NavItemLogo {
	height: $height + 20px;
	line-height: $height + 20px;
	font-size: 2.6rem !important;
}

.NavItemSearch {
	input[type='search'] {
		margin-bottom: 0;
	}
}

.NavItemLink,
.NavItemLogo {
	font-size: 2rem;
	font-family: $heading-family;
	font-weight: bold;
	text-transform: uppercase;
}

.NavItemLogo,
.NavItemSearch {
	@extend .four;
	@media screen and (max-width: $tablet-width - 1) {
		order: 0;
	}
}
