@import 'Theme';

.PostSection {
	@extend .container;
	@extend .row;

	width: 100%;

	& > article > header > h2 {
		text-align: center;
	}

	& > article > footer {
		padding: { top: 3rem; };
		border: { top: 1px dashed $tertiary-color; };
	}
}
