@import 'Theme';

.LayoutMain {
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
}

.LayoutWrapper {
	flex-grow: 1;
	border-top: 3px solid $tertiary-color;
}

.LayoutFooter {
	border-bottom: 3px solid $tertiary-color;
}
