@import 'Theme';

.App {
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
}

.App__Content {
	flex-grow: 1;
	border-top: 3px solid $tertiary-color;
}

.App__Footer {
	border-bottom: 3px solid $tertiary-color;
}
